@charset "UTF-8";
/*
* all stylesheet files should be required in this manifest.
*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Font colors*/
/*font weight*/
/*Break Points*/
/*Font colors*/
/*font weight*/
/*Break Points*/
/* line 3, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
* {
  border-radius: 0 !important;
  outline: none !important;
  outline: hidden !important;
}

/* line 9, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
a {
  color: #333;
}

/* line 13, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* line 16, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
body > .alert {
  margin-bottom: 0;
}

/* line 21, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
h1, h2, h3, h5, h6, .h1, .h2, .h3, .h5, .h6 {
  font-weight: 300;
}

/* line 24, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
h1, .h1 {
  font-size: 30px;
}

/* line 28, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
b, strong, th, label {
  font-weight: 400;
}

/* line 32, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
h4, .h4 {
  font-weight: 400;
}

/* line 35, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.pos-rel {
  position: relative;
}

/* line 38, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.vmid {
  vertical-align: middle !important;
}

/* line 41, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.well {
  background-color: #ffffff;
  border: solid 10px #f4f4f4;
  padding: 15px;
  margin-bottom: 40px;
  /*box-shadow: 0 0 0 1px #dfdfdf inset;*/
}

/* line 48, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
abbr,
abbr[title],
abbr[data-original-title] {
  text-decoration: none !important;
  border-bottom: none;
}

/* line 54, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.form-control {
  border-color: #e1e1e1;
}

/* line 57, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.line_item_quantity {
  min-width: 60px;
}

/* line 60, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.lead {
  font-size: 16px;
}

/* line 63, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.btn {
  font-weight: 300;
}

/* line 66, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.btn.btn-primary {
  border-color: #000000 !important;
  background-color: #333 !important;
}

/* line 70, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.btn.btn-success {
  border-color: #EC7743 !important;
  background-color: #EC7743 !important;
}

/* line 75, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: calc(100vh - 375px);
}

/* line 82, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.alert {
  border-radius: 0;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 88, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.alert#errorExplanation {
  text-align: left;
}
/* line 90, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.alert#errorExplanation h3, .alert#errorExplanation h4 {
  margin-top: 0;
  font-size: 20px;
}
/* line 94, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.alert#errorExplanation p {
  margin-bottom: 15px;
}
/* line 97, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.alert#errorExplanation ul {
  list-style: dics;
  list-style-type: dics;
}
/* line 100, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.alert#errorExplanation ul li {
  padding: 1px 0 1px 5px;
}

/* line 108, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.pagination {
  display: flex;
  justify-content: center;
}
/* line 111, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.pagination li {
  display: block;
  border-top: solid 2px #dfdfdf;
  border-bottom: solid 2px #dfdfdf;
}
/* line 115, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.pagination li a, .pagination li span {
  border: none;
  padding: 3px 12px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* line 125, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.pagination > .active a, .pagination > .active span {
  background: none;
  color: #EC7743;
}
/* line 128, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.pagination > .active a:hover, .pagination > .active a:focus, .pagination > .active span:hover, .pagination > .active span:focus {
  background: none;
  color: #EC7743;
}

/* line 136, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.d-ib {
  display: inline-block;
}

/* line 139, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.mt15 {
  margin-top: 15px;
}

/* line 143, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
a.il, .il a {
  text-decoration: underline;
  color: #EC7743;
}
/* line 146, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
a.il:hover, .il a:hover {
  text-decoration: none;
  color: #333;
}

/* line 152, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.common-heading {
  font-size: 24px;
  font-weight: 300px;
  margin: 35px 0 40px 0;
  text-align: center;
  position: relative;
}
/* line 158, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.common-heading:after {
  content: '';
  display: block;
  width: 50px;
  border-top: solid 3px #EC7743;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: calc(100% + 5px);
}
/* line 168, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.common-heading::first-letter {
  font-size: 150%;
  color: #EC7743;
  font-family: 'Playfair Display', serif;
}

/* line 174, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.common-subheading {
  font-size: 14px;
  color: #777;
  margin: -20px 0 40px 0;
}
/* line 178, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.common-subheading a {
  color: #EC7743;
}

/* line 183, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.form-control {
  box-shadow: none !important;
}
/* line 185, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.form-control.error {
  border-color: red !important;
}

/* line 189, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
label.error {
  padding-top: 2px;
  font-weight: 300;
  color: red;
  font-size: 12px;
}

/* line 195, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.panel.panel-default {
  border: none;
  box-shadow: none;
}
/* line 198, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.panel.panel-default .panel-heading {
  background: none;
  border: none;
  padding: 10px 0;
}
/* line 202, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.panel.panel-default .panel-heading .panel-title {
  font-size: 18px;
}
/* line 206, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.panel.panel-default .panel-body {
  padding: 15px 0;
}

/* line 211, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
#products {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 0 5px;
  text-align: center;
}
/* line 221, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
#products .product-list-item {
  width: calc(25% - 20px);
  max-width: 230px;
  min-width: 150px;
  padding: 25px 15px;
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 3px 0 #e1e1e1;
}
/* line 230, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
#products .product-list-item a {
  display: block;
  transition: all 0.5s ease;
}
/* line 233, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
#products .product-list-item a:hover {
  transform: scale(1.05);
  color: #EC7743 !important;
  text-decoration: none;
}
/* line 239, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
#products .product-list-item .info {
  display: block;
  padding: 5px 0 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 249, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.product_image_area {
  height: 230px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
/* line 259, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.product_image_area img {
  max-height: 230px;
}

/* line 266, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.list-group {
  border-bottom: solid 1px #dfdfdf;
}
/* line 268, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.list-group .list-group-item {
  border-color: #ffffff;
  position: relative;
}
/* line 271, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.list-group .list-group-item.active, .list-group .list-group-item.active:hover {
  background-color: #f4f4f4;
  border: none;
  border-left: solid 5px #EC7743;
  color: #EC7743;
  font-weight: 400;
}

/* line 282, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check input[type="radio"],
.radio_check input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 289, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check label {
  font-weight: 300;
  color: #333;
  padding-left: 20px;
  cursor: pointer;
  position: relative;
  font-size: 13px;
}
/* line 299, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check input[type="radio"] + label:before,
.radio_check input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border: solid 1px #333;
  position: absolute;
  left: 0;
  top: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #ffffff inset;
}
/* line 313, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check input[type="radio"] + label:before {
  border-radius: 50% !important;
}
/* line 317, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check input[type="radio"]:checked + label,
.radio_check input[type="checkbox"]:checked + label {
  font-weight: 400;
  color: #EC7743;
}
/* line 321, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check input[type="radio"]:checked + label:before,
.radio_check input[type="checkbox"]:checked + label:before {
  background-color: #EC7743;
}
/* line 328, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check label input[type="radio"] + span:before,
.radio_check label input[type="checkbox"] + span:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  border: solid 1px #333;
  position: absolute;
  left: 0;
  top: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #ffffff inset;
}
/* line 341, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check label input[type="radio"]:checked + span,
.radio_check label input[type="checkbox"]:checked + span {
  font-weight: 400;
  color: #EC7743;
}
/* line 345, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check label input[type="radio"]:checked + span:before,
.radio_check label input[type="checkbox"]:checked + span:before {
  background-color: #EC7743;
}
/* line 350, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.radio_check label input[type="radio"] + span:before {
  border-radius: 50% !important;
}

/* line 357, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.taxon-title {
  margin-top: 5px;
}

/* line 361, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #EC7743;
}

/* line 367, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.subtaxon-title {
  font-size: 24px;
  font-weight: 300px;
  margin: 40px 0 20px 0;
  padding-top: 15px;
  border-top: solid 1px #dfdfdf;
  position: relative;
}
/* line 374, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.subtaxon-title:after {
  content: '';
  display: block;
  width: 30px;
  border-top: solid 2px #EC7743;
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
}
/* line 383, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.subtaxon-title::first-letter {
  font-size: 130%;
  font-family: 'Playfair Display', serif;
}
/* line 388, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.subtaxon-title a:hover {
  text-decoration: none;
  color: #EC7743;
}

/* line 394, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.similar_items {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 401, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.similar_items li {
  padding: 0 10px 5px 0;
}
/* line 403, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.similar_items li a {
  display: block;
  padding: 4px 12px;
  background-color: #dfdfdf;
  font-size: 12px;
  font-weight: 400;
  transition: all .5s ease;
}
/* line 410, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.similar_items li a:hover {
  color: #ffffff;
  background-color: #EC7743;
  text-decoration: none;
}

/* line 419, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.product-section-title {
  font-size: 24px !important;
  margin: 40px 0 10px 0;
}

/* line 425, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
table.table-striped td, table.table-striped th {
  border-top: none !important;
}
/* line 428, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
table.table-striped th {
  background-color: #dfdfdf;
  color: #000000;
}

/* line 435, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.account-my-orders h3 {
  margin-bottom: 30px;
}

/* line 439, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.product-variants-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
/* line 447, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.product-variants-list li {
  width: 50%;
  padding: 0 15px 10px 0;
}

/* line 454, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
#main-image .panel-body {
  height: 400px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
/* line 464, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
#main-image .panel-body img {
  max-height: 400px;
}

/* line 470, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.use_billing {
  position: absolute;
  right: 0;
  top: -37px;
}

/* line 476, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
.line-item-description {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
}

@media (max-width: 991px) {
  /* line 485, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
  #products .product-list-item {
    min-width: 230px;
  }

  /* line 489, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
  .line-item-description {
    width: 200px;
  }
}
@media (max-width: 767px) {
  /* line 494, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
  #breadcrumbs {
    display: none;
  }

  /* line 497, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
  .progress-steps {
    margin-bottom: 20px;
    display: flex;
    display: -webkit-flex;
    font-size: 11px;
    border-radius: 30px !important;
    background-color: #f4f4f4;
  }
  /* line 504, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
  .progress-steps li {
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }
  /* line 508, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
  .progress-steps.nav > li > a {
    padding: 4px 6px;
    margin: 0;
    border-radius: 30px !important;
  }

  /* line 514, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
  .use_billing {
    position: static;
  }

  /* line 517, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global.scss */
  .modal-open {
    position: fixed;
  }
}
/*Font colors*/
/*font weight*/
/*Break Points*/
/* line 4, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.primary-header {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
/* line 7, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.primary-header a {
  color: #333;
}
/* line 9, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.primary-header a.text-danger {
  color: #EC7743;
}

/* line 16, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.header-top {
  /*@include genericSidesStyles('bottom', 1px solid $primary-border, 'border');*/
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  background-color: #f4f4f4;
  /*margin: 0 -15px;*/
  /*@include box-shadow(0,1px,1px,0,rgba(0, 0, 0, 0.1));*/
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 33, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.logo_area {
  width: 200px;
  padding: 0 15px;
}
/* line 36, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.logo_area img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 42, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.user_bar,
.user_bar ul {
  display: inline-flex;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  font-size: 13px;
  font-weight: 400;
}
/* line 51, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.user_bar .navbar-nav > li > a,
.user_bar ul .navbar-nav > li > a {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 56, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.search_area {
  width: calc(100% - 550px);
  position: relative;
}
/* line 59, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.search_area form {
  display: block;
  position: relative;
}
/* line 63, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.search_area #keywords {
  width: 100%;
  background: none;
  border: none;
  border-bottom: solid 1px #dfdfdf;
  padding: 10px 30px 10px 0;
  box-shadow: none !important;
}
/* line 71, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.search_area .search-btn {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 16px;
  margin-top: -10px;
  width: 30px;
  height: 20px;
  overflow: hidden;
  box-shadow: none !important;
}

/* line 86, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.main_menu {
  width: 100%;
}

/* line 90, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  display: -webkit-flex;
  margin: 0 -15px;
}

/* line 101, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation li {
  position: relative;
  padding-left: 16px;
  padding-right: 15px;
}
/* line 105, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation li a {
  font-weight: 400;
}

/* line 110, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation li + li:after {
  content: "";
  display: block;
  border-left: solid 1px #dfdfdf;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

/* line 120, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation.top-corners {
  padding: 12px 0;
}

/* line 124, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation.flex-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

/* line 129, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation.flex-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

/* line 134, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation.flex-center {
  justify-content: center;
  -webkit-justify-content: center;
}

/* line 139, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation.main_navigation {
  padding: 5px 0;
  font-size: 12px;
  width: 100%;
  background-color: white;
  margin: 0;
}

/* line 147, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.common-header-navigation.main_navigation li {
  padding-top: 7px;
  padding-bottom: 7px;
}

/*main navigation*/
/* line 155, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.main_navigation .list-group {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  background-color: #ffffff;
  border-bottom: none;
  padding: 5px;
}
/* line 167, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.main_navigation .list-group .list-group-item,
.main_navigation .list-group .list-group-item.active {
  display: block;
  position: relative;
  padding: 7px 15px 7px 16px;
  font-weight: 400;
  margin: 0;
  border: none;
  background: none;
}
/* line 178, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.main_navigation .list-group-item + .list-group-item:after {
  content: "";
  display: block;
  border-left: solid 1px #dfdfdf;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

/* line 194, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.mobile_bar {
  display: flex;
  display: -webkit-flex;
}
/* line 197, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.mobile_bar a {
  display: block;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
}
/* line 204, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.mobile_bar a img {
  max-width: 20px;
}

/* line 209, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.close_this {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
}
/* line 215, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.close_this:before {
  content: 'Close';
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #EC7743;
}

@media (max-width: 991px) {
  /* line 226, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 229, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .logo_area {
    width: auto;
    background-color: #ffffff;
  }
  /* line 232, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .logo_area a {
    width: 200px;
    margin: 0 auto;
  }

  /* line 238, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .user_bar,
  .user_bar ul,
  .header-top {
    display: block;
    margin: 0;
  }

  /* line 244, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .common-header-navigation {
    flex-direction: column;
  }
  /* line 246, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .common-header-navigation li + li {
    border-top: solid 1px #e1e1e1;
  }
  /* line 248, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .common-header-navigation li + li:after {
    display: none;
  }

  /* line 253, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .main_menu,
  .user_bar,
  .search_area,
  #sidebar {
    display: block;
    position: fixed;
    left: -100%;
    top: 0;
    width: 300px;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 9999;
    padding: 50px 20px 20px 20px;
    transition: all 0.5s ease-in;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }

  /* line 271, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .main_menu.main_menu_open {
    left: 0;
  }
  /* line 273, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .main_menu.main_menu_open:after {
    width: calc(100% - 300px);
    left: 300px;
  }

  /* line 280, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .user_bar.userbar_open {
    left: 0;
  }
  /* line 282, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .user_bar.userbar_open:after {
    width: calc(100% - 300px);
    left: 300px;
  }

  /* line 290, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .search_area.search_open {
    left: 0;
  }
  /* line 292, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .search_area.search_open:after {
    width: calc(100% - 300px);
    left: 300px;
  }

  /* line 299, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  #sidebar.sidebar_open {
    left: 0;
  }
  /* line 301, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  #sidebar.sidebar_open:after {
    width: calc(100% - 300px);
    left: 300px;
  }

  /* line 307, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .close_this {
    display: block;
  }

  /* line 312, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .main_navigation .list-group {
    display: block;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  /* line 317, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .main_navigation .list-group .list-group-item {
    padding: 10px;
    background: none;
  }
  /* line 321, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .main_navigation .list-group .list-group-item + .list-group-item:after {
    content: "";
    display: block;
    border-left: none;
    border-top: solid 1px #dfdfdf;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
  }
}
/* line 336, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.responsive-overlay {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-in;
}
/* line 346, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
.responsive-overlay.open {
  width: 100vw;
}

@media (max-width: 991px) {
  /* line 351, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-header.scss */
  .responsive-overlay {
    display: block;
  }
}
/*Font colors*/
/*font weight*/
/*Break Points*/
/* line 3, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.primary-footer {
  background-color: #333;
  padding-bottom: 40px;
  margin-top: 50px;
  color: #f5f5f5;
}
/* line 8, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.primary-footer a {
  color: #dfdfdf;
  display: inline-block;
  transition: all 0.4s ease;
}
/* line 12, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.primary-footer a:hover {
  color: #EC7743;
  text-decoration: none;
}
/* line 17, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.primary-footer .container {
  padding-top: 40px;
}

/* line 21, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.subscribe-newsletter-area {
  background-color: #f4f4f4;
  color: #333;
  padding-bottom: 50px;
}
/* line 25, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.subscribe-newsletter-area .form-control {
  border-radius: 0;
  background: none;
  color: #333;
  font-weight: 400;
}
/* line 31, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.subscribe-newsletter-area .btn-subscribe {
  border-radius: 0;
  color: #ffffff;
  background-color: #EC7743;
}
/* line 36, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.subscribe-newsletter-area form div {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 41, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
ul.footer-nav {
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 46, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
ul.footer-nav li {
  padding: 2px 0;
}

/* line 51, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.decorated-heading {
  font-size: 16px;
  font-weight: 300px;
  margin: 15px 0 20px 0;
  position: relative;
}
/* line 56, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.decorated-heading:after {
  content: '';
  display: block;
  width: 30px;
  border-top: solid 1px #EC7743;
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
}
/* line 65, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.decorated-heading::first-letter {
  font-size: 130%;
  font-family: 'Playfair Display', serif;
}

/* line 70, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.social {
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
  list-style: none;
  margin: 0;
  padding: 15px 0 20px 0;
}
/* line 78, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/global-footer.scss */
.social a {
  display: block;
  padding: 0 10px;
  font-size: 24px;
  color: #f5f5f5;
}

/*Home page css*/
/* Slider */
/* line 45, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url(/images/ajax-loader.gif) center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url(/fonts/slick.eot);
  src: url(/fonts/slick.eot?#iefix) format("embedded-opentype"), url(/fonts/slick.woff) format("woff"), url(/fonts/slick.ttf) format("truetype"), url(/fonts/slick.svg#slick) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* line 62, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-arrow {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  border: none;
  background-color: white;
  width: 30px;
  height: 70px;
  overflow: hidden;
  text-indent: -9999px;
  line-height: 70px;
  text-align: center;
  opacity: 0.8;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

/* line 79, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-arrow:hover {
  opacity: 1;
}

/* line 82, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-arrow * {
  line-height: 70px;
}

/* line 85, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-arrow.slick-prev {
  left: 0;
}

/* line 88, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-arrow.slick-prev:before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent black transparent transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* line 101, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-arrow.slick-next {
  right: 0;
}

/* line 105, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-arrow.slick-next:before {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Dots */
/* line 121, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

/* line 125, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 134, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 142, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 154, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
/* line 156, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 160, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 177, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* line 184, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
.slick-slider {
  margin: 0 -15px 50px -15px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  /* line 190, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick-theme.scss */
  .slick-arrow {
    display: none !important;
  }
}
/* Slider */
/* line 3, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 24, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-list:focus {
  outline: none;
}
/* line 28, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 33, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 42, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 48, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 54, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-track:after {
  clear: both;
}
/* line 58, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 62, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 66, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 69, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-slide img {
  display: block;
}
/* line 72, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 78, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 82, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 86, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 90, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 96, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/slick.scss */
.slick-arrow.slick-hidden {
  display: none;
}

/*Font colors*/
/*font weight*/
/*Break Points*/
/* line 4, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/home.scss */
#home-page #sidebar {
  display: none;
}
/* line 7, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/home.scss */
#home-page #sidebar + #content {
  float: none;
  width: auto;
}
/* line 11, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/home.scss */
#home-page .wrapper {
  max-width: initial;
}
/* line 14, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/home.scss */
#home-page .primary-header {
  margin-bottom: 0;
}

/* line 18, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/home.scss */
.homepage_products {
  max-width: 1250px;
  margin: 0 auto;
}

/* line 22, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/home.scss */
.main_menu {
  background: black;
}

@media (max-width: 991px) {
  /* line 27, /home/breacher/macladi/public/vinsol_spree_themes/current/stylesheets/home.scss */
  #home-page #sidebar {
    display: block;
  }
}
